<h1>RPS!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="players_name">
    Players name
    <input type="text" name="players_name">
  </label>
  <input type="submit" value="Submit">
</form>